:root{
    --theme-orange: #F9AA4D;
    --theme-navy-blur: #034980;
    --theme-sky-blue: #8AD9F8;
    --theme-blue: #3F96B9;
    --font-color: #8c8c8c;
}

/* navber */

.nav-item .nav-link{
    text-transform: capitalize;
    margin: 0 5px;
}
/* banner */
.banner .banner-assets img{
    width: 100%;
    height: 200px;
}
/* banner */

/* navigate item */
.list-item{
    cursor: pointer;
    color: var(--font-color);
}
.list-item.active .navigate-icon{
    filter: grayscale(0);
}
.list-item.active{
    border-bottom: 3px solid var(--theme-sky-blue);
}
.navigate-icon{ 
    filter: grayscale(100%);
    transition: all 0.3s ease;
    height: 70px;
}
.navigate-icon + p{
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
}
.list-item:hover .navigate-icon{
    filter: grayscale(0);
}
.navigate-container{
    border: 0;
    box-shadow: 1px 1px 5px #dddddd;
}
/* navigate item */

/* panel1 */
.panel-container{
    max-width: 700px !important;
    min-height: 100vh !important;
    max-height: auto !important;
}
.panel-container .card{
    max-width: 600px !important;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.8);
}
.panel-container .card:hover{
    background: var(--theme-blue);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.panel-container .panel .card.active{
    background: var(--theme-blue);
}
.panel-container .card a{
    text-decoration: none;
}
.panel-container .panel{
    display: none;
}
.panel-container .panel.active{
    display: block;
}
.panel-container .panel .further-navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-container .panel .further-navigate a{
    color: var(--font-color);
    text-decoration: none;
}
.panel-container .panel .further-navigate a:hover{
    color: var(--theme-blue);
}
.panel-container .panel .start-over a{
    font-weight: 600;
    color: var(--font-color);
    text-decoration: none;
} 
.panel-container .panel .start-over a:hover{
    color: var(--theme-blue);
}


/* panel2 */

/* panel3 */

.panel-container .panel form{
    text-align: center;
}
.panel-container .panel form input::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: var(--font-color);
    text-transform: capitalize;
}
.panel-container .panel form input,.panel-container .panel form select{
    width: 100%;
    padding: 10px 10px;
    border-radius: 0;
    outline: none;
    border: 1px solid #dddddd;
    font-size: 18px;
    border-bottom: 3px solid var(--theme-sky-blue);
    margin: 20px 0;
    color: var(--font-color);
    font-weight: 500;
    background: #ffffff;
}
.panel-container .panel form select,.panel-container .panel form select option{
    text-transform: capitalize;
    padding: 13px 10px;
}


/* panel3 */

/* footer */
footer{
    background: var(--theme-blue);
    color: #ffffff;
    font-size: 0.8em;
}
footer .container{
    max-width: 1300px;
    text-align: center;
}
footer a{
    color: #dddddd;
}
footer a:hover{
    color: var(--theme-sky-blue);
}
.copyright-div{
    background: var(--theme-navy-blur);

}
.collapse.navbar-collapse::after{
    content: "";
    display: block;
}